.logotitle {
  font-size: 1.9rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.logotitle::first-letter {
  font-size: 2.9rem;
  color: #de6b48;
}

.logotitle:active {
  color: #de6b48;
}

.link-active {
  text-decoration: underline;
}

.btn_text {
  font-size: 1.1rem;
}

.signin {
  cursor: pointer;
  color: #de6b48;
}

.signin:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 900px) {
  .btn_text {
    font-size: 1rem;
  }
  .btn-text:active {
    text-decoration: none;
  }
  .logotitle:hover {
    color: #de6b48;
  }
}

@media only screen and (max-width: 320px) {
  .logotitle {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .logotitle::first-letter {
    font-size: 2rem;
    color: #de6b48;
  }

  .logotitle:active {
    color: #de6b48;
  }

  .btn_text {
    font-size: 0.8rem;
  }
}
